<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <title>Dashboard Financeira</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/DashboardFinanceira.css') }}">
    
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="static/js/financeiro.js"></script>

  </head>
  <body>
    <div style = "position: fixed;">
      <i class="fa icon" style="font-size: 40px; position: absolute;" onclick="window.location.href='{{ url_for('loggedProfissional')}}'">&#xf0a8;</i>
    </div>
      <div class = "wrapper">
      <div class = "ChartBox">
        <div class = "tituloBloco">Atendimentos no mês</div>
        <div class = "iconeBloco"><i class="iconify" data-icon="el:user" data-inline="false" style="color: #393e46;" data-width="48" data-height="48"></i></div>
        <div class = "valorBloco">{{atendimento_mes_atual}}</div>
      </div> 
      
      <div class = "ChartBox">
        <div class = "tituloBloco">Lucro Mensal</div>
        <div class = "iconeBloco"><i class="iconify" data-icon="ic-round-attach-money"  data-inline="false" style="color: #393e46;" data-width="48" data-height="48"></i></div>
        <div class = "valorBloco">{{ganho_mes_atual}}</div>
      </div>

      <div class = "ChartBox">Três</div>
      </div>
    
    <div class = "wrapperPrincipal">
      <div class = "ChartBox">
      <canvas id="myChart"></canvas>
          <script>
                var ctx = document.getElementById("myChart").getContext("2d");
                var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
                gradientStroke.addColorStop(0, "#80b6f4");
                gradientStroke.addColorStop(1, "#f49080");

                var chart = new Chart(ctx, {
                  // The type of chart we want to create
                  type: "line",
                
                  // The data for our dataset
                  data: {
                    labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto","Setembro", "Outubro", "Novembro", "Dezembro"],
                    datasets: [
                      {
                        label: "Ganhos anual",
                        backgroundColor: "#29a19c",
                        pointBackgroundColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "#f49080",
                        pointBorderWidth: 3,
                        pointHoverRadius: 5,
                        pointHoverBorderWidth: 3,
                        borderColor: "#8b8383",
                        data:  {{grana_anual}}
                      }
                    ]},
        // Configuration options go here
                options: {        
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true,
                                callback: function(value, index, values) {
                                    return float2real(value);
                                }
                            }
                        }]                
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
          </script>
    </div>
    
    <div class = "wrapper">
      <div class = "ChartBox">
        <canvas id="myChartPie"></canvas>
        <script>
        var ctx = document.getElementById("myChartPie").getContext("2d");
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "pie",
          // The data for our dataset
          data: {
            labels: ["Cartão de Crédito", "Cartão de Débito", "Dinheiro"],
            datasets:[
              {
                label: "Forma de Pagamento",
                borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)', 'rgba(248, 169, 120, 1)'],
                backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(192, 0, 0, 0.2)', 'rgba(248, 169, 120, 0.2)'],
                pointBorderColor: "#80b6f4",
                data: {{formaPagamento}}
              }
            ]
          },
          // Configuration options go here
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        });
        </script>
      </div>

      <div class = "ChartBox">Two</div>

      <div class = "ChartBox">Three</div>

    </div>
  </body>
</html>