<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/Informacoes_cadastro.css') }}">
    <!-- <link rel="stylesheet" type="div/css" href="../static/styles/create.css"> -->

    <title>Informaçoes de Cadastro</title>
</head>

<body>
    <i class="fa icon" onclick="window.location.href='{{ url_for( 'loggedProfissional')}}'">&#xf0a8;</i>
    <div class="limiter">
        <div class="container-login100" id="container">
            <div class="wrap-login100" id="wrap">
                <form method="POST" style="display: flex; flex-direction: column; justify-content: center">
                    <h1 style="text-align: center; padding-top: 30px"><strong>Informações de Cadastro</strong></h1>

                    <div style="height: 20px"></div>


                    <div id="table" class="table">
                        <div style="padding: 0 20px 0 30px">
                            <!--nome-->
                            <div class="inputBox" name="nome">
                                <div type="div" class="input" name="nome"><strong>Nome:&nbsp;</strong>
                                    {{nome}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="nome">
                                    Alterar
                                </div>
                            </div>
                            <!--cpf-->
                            <div class="inputBox">
                                <div type="div" class="input"><strong>CPF:&nbsp;</strong> {{cpf}}

                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px">
                                    Alterar
                                </div>
                            </div>
                            <!--profissao-->
                            <div class="inputBox" name="profissao">
                                <div type="div" class="input" name="profissao"><strong>Profissão:&nbsp;</strong>
                                    {{profissao}}

                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="profissao">
                                    Alterar
                                </div>
                            </div>
                            <!--Registro Profissional-->
                            <div class="inputBox" name="registro_profissional">
                                <div type="div" class="input" name="registro_profissional"><strong>Registro
                                        Profissional:&nbsp;</strong>
                                    {{registro}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="registro_profissional">
                                    Alterar
                                </div>
                            </div>
                            <!--telefone-->
                            <div class="inputBox" name="telefone">
                                <div type="div" class="input" name="telefone"><strong>Telefone:&nbsp;</strong>
                                    {{telefone}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="telefone">
                                    Alterar
                                </div>
                            </div>
                            <!--nascimento-->
                            <div class="inputBox" name="data_de_nascimento">
                                <div type="div" class="input" name="data_de_nascimento"><strong>Data de
                                        nascimento:&nbsp;</strong>
                                    {{nascimento}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="data_de_nascimento">
                                    Alterar
                                </div>
                            </div>
                            <!--email-->
                            <div class="inputBox" name="email">
                                <div type="div" class="input" name="email"><strong>Email:&nbsp;</strong> {{email}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="email">
                                    Alterar
                                </div>
                            </div>

                        </div>
                        <div style="padding: 0 30px 0 0" id="divMeio">
                            <!--CEP-->
                            <div class="inputBox" name="cep">
                                <div type="div" class="input" name="cep"><strong>CEP:&nbsp;</strong> {{cep}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="cep">
                                    Alterar
                                </div>
                            </div>
                            <!--endereco-->
                            <div class="inputBox" name="endereco">
                                <div type="div" class="input" name="endereco"><strong>Endereço:&nbsp;</strong>
                                    {{endereco}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="endereco">
                                    Alterar
                                </div>
                            </div>
                            <!--numero-->
                            <div class="inputBox" name="numero">
                                <div type="div" class="input" name="numero"><strong>Número:&nbsp;</strong> {{numero}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="numero">
                                    Alterar
                                </div>
                            </div>
                            <!--complemento-->
                            <div class="inputBox" name="complemento">
                                <div type="div" class="input" name="complemento"><strong>Complemento:&nbsp;</strong>
                                    {{complemento}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px"
                                    name="complemento">
                                    Alterar
                                </div>
                            </div>
                            <!--cidade-->
                            <div class="inputBox" name="cidade">
                                <div type="div" class="input" name="cidade"><strong>Cidade:&nbsp;</strong> {{cidade}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="cidade">
                                    Alterar
                                </div>
                            </div>
                            <!--estado-->
                            <div class="inputBox" name="estado">
                                <div type="div" class="input" name="estado"><strong>Estado:&nbsp;</strong> {{estado}}
                                </div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px" name="estado">
                                    Alterar
                                </div>
                            </div>

                            <div class="inputBox" name="senha">
                                <div type="div" class="input" name="senha"></div>
                                <div class="txt" onclick="showInputBox(this)" style="font-size: 17px; opacity: 1;"
                                    name="senha">
                                    Alterar senha
                                </div>
                            </div>

                        </div>

                        {% if error %}
                        <p class="error" style="text-align: center; color: #e74c3c; font-size: 14px"> {{ error }}
                            {% endif %}


                </form>

            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script> // Esse script é para fazer aparecer o "Alterar"
        window.onmouseover = function (e) {
            if (e.target.className == "input" && e.target.childNodes[1].textContent != "") {

                name = e.target.getAttribute("name");
                elementos = document.getElementsByName(name)
                alterar = elementos[0].childNodes[3];

                elementos[1].className = "input input2";
                alterar.className = "txt txt3"

                alterar.onmouseover = function (e2) {
                    if (e.target.childNodes[1].textContent != "") {
                        alterar.className = "txt txt2"
                        elementos[1].className = "input input2";
                    }
                }

                alterar.onmouseleave = function (e2) {
                    if (e.target.childNodes[1].textContent != "") { alterar.className = "txt txt3" }
                }
                elementos[1].onmouseleave = function (e) {
                    elementos[1].className = "input";
                    alterar.className = "txt"

                }
            }
        };
    </script>

    <script>
        function showInputBox(id) {
            id.className = "txt txt4";
            var name = id.getAttribute("name");
            var elementos = document.getElementsByName(name);
            var input = elementos[1];
            input.className = "input input3";
            var value = String(input.childNodes[1].textContent).trimLeft().trimRight();

            input.removeChild(input.lastChild)

            a = document.createElement("div")

            if(name == "telefone"){
                a.innerHTML = '<input value="' + value + '" class="inputChange" name='+ name +' type="tel" oninput="this.value = TEL(this.value, event)" maxlength="14"></input>'
            }else if(name == "data_de_nascimento"){
                a.innerHTML = '<input value="' + value + '" oninput="this.value = DDMMYYYY(this.value, event)" maxlength="10" class="inputChange" name='+ name +' type="tel" oninput="this.value = TEL(this.value, event)" maxlength="14"></input>'
            }
            else if(name == "cep"){
                a.innerHTML = '<input value="' + value + '" maxlength="9" oninput="this.value = CEP(this.value, event)" class="inputChange" name='+ name +' type="tel" oninput="this.value = TEL(this.value, event)" maxlength="14"></input>'

            }
            else{
                a.innerHTML = '<input value="' + value + '" class="inputChange" name='+ name +'></input>'
            }

            console.log(input.childNodes)
            console.log(input.childNodes[0])


            input.appendChild(a);

        }

        function TEL(value, event) {
            let newValue = value.replace(/[^0-9]/g, '');

            // on delete key.
            if (!event.data) {
                return value;
            }

            newValue = "(" + newValue;

            if (newValue.split('').length > 11) {
                return newValue.split('').map((v, i) => i == 2 ? v + ")" : (i == 7 ? v + "-" : v)).join('');
            } else {
                return newValue.split('').map((v, i) => i == 2 ? v + ")" : (i == 6 ? v + "-" : v)).join('');
            }
            // return newValue;
        };

        function DDMMYYYY(value, event) {
            let newValue = value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');

            const dayOrMonth = (index) => index % 2 === 1 && index < 4;

            // on delete key.
            if (!event.data) {
                return value;
            }

            return newValue.split('').map((v, i) => dayOrMonth(i) ? v + '/' : v).join('');
        };

        function CEP(value, event) {
            let newValue = value.replace(/[^0-9]/g, '');

            // on delete key.
            if (!event.data) {
                return value;
            }

            return newValue.split('').map((v, i) => i == 4 ? v + "-" : v).join('');
        };
    </script>


</body>

</html>