<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <title>Recibo</title>
    <style>

    #container{
    width: 100%;
    height: 99%;
    border:solid 2px;
    border-radius:10px;
    position: relative;
    }
    
    #table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    }

    #rodape {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-left: 30%;
    }
    </style>
</head>



<body>


  <div id="container">

    <div id="site">

        <div id="conteudo">
            <div id="conteudo-principal">
            <br><br><br><br>
            <h1>
                    <center><b>Recibo</b></center>
            </h1>

            <h1>
                <center>{{nomeProfissional}}</center>
            </h1>
            <h3>
                {% if regProf != "-" %}
                    <center>Registro Profissional {{regProf}}</center>
                {% else %}
                {% endif %}
                <br>
                <center>CPF {{cpfProfissional}}</center>
            </h3>

            <br>
            <br>

            <p>
                <center> Recebi de <b>{{nomeCliente}}</b>, CPF <b>{{cpfCliente}}</b>, <br>
                    o valor de <b>{{precoConsulta}}</b>, referente ao atendimento <br>
                     no dia <b>{{dataDoAtendimento}}</b>.
                </center>
            </p>


            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <p style = "text-align: center;">___________________________________________________________ <br><br> {{nomeProfissional}}</p>

        <div id="rodape">
            <p id="telefone-email">{{email}} - {{telefone}}</p>
            <p id="endereco">{{enderecoCompleto}}</p>
            <small id="copyright"> Gerado com &copy;A² em {{dataGerado}}.</small>
        </div>
    </div>
  </div>

    <script>
        var hoje = new Date();
        var dia = hoje.getDate();
        var mes = hoje.getMonth() + 1;
        var ano = hoje.getFullYear();
        var mesE;

        switch (mes) {
            case 1:
                mesE = "Janeiro";
                break;
            case 2:
                mesE = "Fevereiro";
                break;
            case 3:
                mesE = "Março";
                break;
            case 4:
                mesE = "Abril";
                break;
            case 5:
                mesE = "Maio";
                break;
            case 6:
                mesE = "Junho";
                break;
            case 7:
                mesE = "Julho";
                break;
            case 8:
                mesE = "Agosto";
                break;
            case 9:
                mesE = "Setembro";
                break;
            case 10:
                mesE = "Outubro";
                break;
            case 11:
                mesE = "Novembro";
                break;
            case 12:
                mesE = "Dezembro";
                break;
        }
        var data = "Rio de Janeiro, " + dia.toString() + " de " + mesE + " de " + ano.toString();

        document.getElementById("data").innerHTML = data;
        console.log(data)
    </script>
</div>
</body>

</html>
