<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <title>Relatorio</title>
    <style>

    #container{
    width: 100%;
    height: 99%;
    border:solid 2px;
    border-radius:10px;
    position: relative;
    }
    
    #table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    }

    #rodape {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-left: 30%;
    }
    </style>
</head>



<body>


  <div id="container">

    <div id="site">

        <div id="conteudo">
            <div id="conteudo-principal">
            <h1>
                    <center><b>RELATÓRIO</b></center>
            </h1>

            <h1>
                <center>{{nomeProfissional}}</center>
            </h1>
            <h3>
                <center>Registro Profissional: {{regProf}}</center>

            </h3>

            <br>

            <h2>
                <center>Atendimentos de {{data_inicial}} até {{data_final}}</center>
            </h2>

            <div class="wrap-login100" id="wrap">
                <table id="table" style="margin-left: 13%; margin-right: 10%">
                    <tr>
                        <th>Nome do cliente</th>
                        <th>CPF</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>

                    {% if lenTabela == 0 %}
                        <tr>
                            <td style="width: 1000px">Você não tem atendimentos nesse período</td>
                        </tr>
                    {% else %}
                    {% for dado in tabela %}
                        <tr>
                            <td style="width: 50%">{{dado[0]}}</td>
                            <td style="width: 20%">{{dado[1]}}</td>
                            <td style="width: 15%">{{dado[2]}}</td>
                            <td style="width: 15%">{{dado[3]}}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>


        <div id="rodape">
            <p id="telefone-email">{{email}} - {{telefone}}</p>
            <p id="endereco">{{enderecoComercial}}, {{numero}}, {{cidade}}, {{estado}}, {{CEP}}</p>
            <small id="copyright"> Gerado com &copy;A² Ltda.</small>
        </div>
    </div>
  </div>

    <script>
        var hoje = new Date();
        var dia = hoje.getDate();
        var mes = hoje.getMonth() + 1;
        var ano = hoje.getFullYear();
        var mesE;

        switch (mes) {
            case 1:
                mesE = "Janeiro";
                break;
            case 2:
                mesE = "Fevereiro";
                break;
            case 3:
                mesE = "Março";
                break;
            case 4:
                mesE = "Abril";
                break;
            case 5:
                mesE = "Maio";
                break;
            case 6:
                mesE = "Junho";
                break;
            case 7:
                mesE = "Julho";
                break;
            case 8:
                mesE = "Agosto";
                break;
            case 9:
                mesE = "Setembro";
                break;
            case 10:
                mesE = "Outubro";
                break;
            case 11:
                mesE = "Novembro";
                break;
            case 12:
                mesE = "Dezembro";
                break;


        }

        var data = "Rio de Janeiro, " + dia.toString() + " de " + mesE + " de " + ano.toString();

        document.getElementById("data").innerHTML = data;
        console.log(data)
    </script>
</div>
</body>

</html>
